<div class="wrapper" *ngIf="loggedIn">
    <lte-header></lte-header>
    <lte-menu></lte-menu>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Version 2.0</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <h1>Teste</h1>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <lte-footer></lte-footer>
</div>

<div class="login-page" *ngIf="!loggedIn">
    <lte-login></lte-login>
</div>